# model related
gpt-2-warm-up/
models/
wandb/

# data
pre-predata/
next_token/
next_sentence/
next_utterance/
tokenizers/
data/

# model stuff
pythia/

# other
tests/
CLAUDE.md

# python cache
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
