# model related
gpt-2-warm-up/
models/
wandb/

# data
pre-predata/
next_token/
next_sentence/
next_utterance/
tokenizers/
data/

# model stuff
pythia/

# other
CLAUDE.md
training_sesh2.txt

# python cache
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.pytest_cache/

# poetry
.venv/

# hydra run/sweep output
outputs/
multirun/
*.egg-info/
